<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/641af62c-28c2-4601-b1a0-d380d9f88540/resourcegroups/GestionPersonalGroup/providers/Microsoft.Web/sites/GestionPersonal1</ResourceId>
    <ResourceGroup>GestionPersonalGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/641af62c-28c2-4601-b1a0-d380d9f88540/resourceGroups/GestionPersonalGroup/providers/Microsoft.ApiManagement/service/GestionPersonalAPI/apis/GestionPersonalAPI1</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gestionpersonal1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1037bd22-a190-4748-bc9f-829e9f4f8737</ProjectGuid>
    <MSDeployServiceURL>gestionpersonal1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GestionPersonal1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$GestionPersonal1</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>